<div class="info page">
	
	<div class="header">
		<a class="back" back><i class="fa fa-chevron-left"></i></a>
		<div class="nameplate">cherrypicker</div>
		<a href="#/info " class="info"><i class="fa fa-info-circle"></i></a>
	</div>
	
	<div class="text">
		<p><strong>Cherrypicker</strong> was created by <a href="http://www.twitter.com/andrewmcgill" target="blank">Andrew McGill.</a> He works for <a href="http://theatlantic.com" target="blank">The Atlantic.</a></strong></p>
		<p>This app is powered by <a href="http://opendata.dc.gov/datasets/f6c3c04113944f23a7993f2e603abaf2_23" target="blank">data</a> from the District of Columbia's Urban Forestry Administration. Only "street trees" are included in this app&mdash;no trees on private property or in federal parks. So don't be surprised if you see a tree in front of you that's not showing up here :-)</p>
		<p>Thanks to <strong>DDOT Deputy Associate Director Earl Eutsler</strong> for his help on this project.</p>
		<p>Images are thanks to <a href="https://www.flickr.com/photos/21708387@N02/" target="blank">Carnat Joel</a>, <a href="https://www.flickr.com/photos/charleylhasa/" target="blank">Charley Lhasa</a>, <a href="https://www.flickr.com/photos/93277085@N08/" target="blank">Takashi M.</a> and the U.S. government.</p>
	</div>
	
</div>